@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=IBM+Plex+Mono:wght@500&family=Montserrat&family=Roboto+Mono&family=Source+Code+Pro&display=swap");

.font-loc,
.sp-txt {
  font-family: "Bilbo Swash Caps", cursive;
}
.font-loc {
  color: var(--color-navyBlue);
}
.sp-txt {
  font-size: 4rem;
  color: var(--color-blueGrotto);
}
.main-content {
  display: flex;
  margin: 0 10px 0 10px;
}

.cont-description {
  font-size: var(--size-5);
}
.login-icon {
  border: 2px solid var(--color-white);
}

.login-icon:hover {
  border: 2px solid var(--color-blueGrotto);
}
.search_navbar {
  padding: 10px;
  width: var(--width-100);
}
.cake-logo {
  color: var(--color-white);
  font-size: var(--size-7);
}
.fa-search {
  position: absolute;
  top: 43%;
  left: 21%;
  cursor: pointer;
}
.list {
  justify-content: space-around;
}
.list_end {
  padding-left: 10%;
}
.footer {
  display: flex;
  position: inherit;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--width-100);
  height: 12vh;
  background-color: var(--color-navyBlue);
  gap: var(--size-2);
}
.footer-list {
  display: flex;
  gap: var(--size-3);
  color: var(--color-white);
}
.footer-list_item {
  list-style-type: none;
  color: var(--color-white);
  font-size: var(--size-6);
}
.footer-list_item--link {
  color: var(--color-white);
}
.footer-h3 {
  color: var(--color-white);
}
.heading-title {
  color: var(--color-white);
  font-size: var(--size-5);
}
.logo {
  display: flex;
  gap: var(--size-2);
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 7%;
}
