.search_navbar {
  padding-left: 10px;
  width: var(--width-100);
}
.cake-logo {
  color: var(--color-white);
  font-size: var(--size-7);
}
.fa-search {
  position: absolute;
  top: 43%;
  left: 24%;
  cursor: pointer;
}
.list {
  justify-content: space-around;
}
.search_navbar {
  padding: 10px;
  width: var(--width-100);
}
.cake-logo {
  color: var(--color-white);
  font-size: var(--size-7);
}
.fa-search {
  position: absolute;
  top: 43%;
  left: 24%;
  cursor: pointer;
}
.list {
  justify-content: space-around;
}
.heading-title {
  color: var(--color-white);
  font-size: var(--size-5);
}
.logo {
  display: flex;
  gap: var(--size-2);
}
.cart-container {
  display: flex;
  gap: var(--size-2);
  width: 100%;
  overflow: visible;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  margin: 10% 0 10% 0;
}
.main-container h2 {
  margin-bottom: 2rem;
  border-bottom: 3px solid var(--color-blueGrotto);
}
.badge div {
  font-size: 15px;
  color: var(--color-navyBlue);
  font-weight: var(--bold-300);
}

.badge {
  margin: 0;
}
.card-title.overlay {
  position: absolute;
  top: 8.7rem;
}
.content-price_page {
  position: absolute;
  border: 3px solid black;
  top: var(--size-20);
  left: var(--width-70);
  padding: 3%;
}
hr {
  width: 100%;
  height: 3px;
  background-color: black;
}

.aside {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: var(--color-navyBlue);
  color: var(--color-white);
  top: 11vh;
  left: 0;
  gap: 1rem;
  padding-left: 100px 0 0.5rem 0;
}
.prod-aside {
  display: flex;
  gap: 5rem;
}
.clear {
  color: var(--color-white);
}
.product-description-main {
  display: flex;
  position: absolute;
  top: 15%;
  left: 22%;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.login-icon {
  border: 2px solid var(--color-white);
}

.login-icon:hover {
  border: 2px solid var(--color-blueGrotto);
}
.list_end {
  padding-right: var(--size-7);
}

.value {
  position: absolute;
  padding-bottom: 1rem;
  font-size: var(--size-3);
}
.left {
  top: var(--size-10);
  left: var(--size-2);
}
.mid {
  top: var(--size-10);
  left: var(--size-15);
}
.right {
  top: var(--size-10);
  left: 7rem;
}
.range {
  display: flex;
  gap: 0.5rem;
}
.field input {
  height: var(--size-5);
}
